@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Martel&family=Open+Sans&family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Martel&family=Open+Sans&family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Martel&family=Montserrat&family=Open+Sans&family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Martel:wght@400;900&family=Montserrat&family=Open+Sans&family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Martel:wght@400;700;900&family=Montserrat&family=Open+Sans&family=Playfair+Display&display=swap");
.startPage {
  height: 785px;
  background-image: url("../img/background.png");
}

header {
  width: 1322px;
  height: 104px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

h1 {
  font-family: "Martel", serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.1000000015px;
  text-align: left;
  color: #252B42;
}

.startPage_navigation {
  display: flex;
  justify-content: space-between;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.200000003px;
  text-align: center;
  color: #737373;
}

.startPage_information_wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 1050px;
}

.startPage_information {
  display: flex;
  flex-direction: column;
  width: 509px;
  height: 373px;
}
.startPage_information button {
  padding: 10px 36px;
  border: 1px solid #784F33;
  border-radius: 37px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.200000003px;
  text-align: center;
}

.startPage_information__title {
  font-family: "Martel", serif;
  font-size: 58px;
  font-weight: 900;
  line-height: 65px;
  letter-spacing: 0.200000003px;
  text-align: left;
  color: #252B42;
  width: 509px;
}

.startPage_information__text {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.200000003px;
  text-align: left;
  color: #737373;
}

.startPage_information_button1 {
  background-color: #784F33;
  color: #FFFFFF;
}

.startPage_information_button2 {
  background-color: transparent;
  color: #784F33;
}

.startPageImg {
  display: block;
  height: 681px;
}

.cards {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title_wrapper {
  display: flex;
  flex-direction: column;
  width: 864px;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}

.title {
  font-family: "Martel", serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.200000003px;
  text-align: left;
  color: #252B42;
}

.subtitle {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.200000003px;
  text-align: center;
  color: #737373;
  width: 464px;
}

.cards_title {
  margin-top: 100px;
  height: 100px;
}

.cards_group {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  padding-bottom: 100px;
  width: 1046px;
}

.card {
  height: 147px;
  width: 329px;
  font-family: "Martel", serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1000000015px;
  text-align: center;
  background-color: #FFFFFF;
  color: #252B42;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2509803922);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;
}

.card_active {
  background-color: #295C7A;
  color: #FFFFFF;
  box-shadow: none;
}

.advice {
  padding: 80px 0;
  background-color: #FAFAFA;
}

.advice_title {
  height: 190px;
  padding: 45px 0;
}

.advice_card_wrapper {
  display: flex;
  justify-content: space-between;
  width: 1050px;
  margin: 0 auto;
}

.advice_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #FFFFFF;
  height: 321px;
  width: 240px;
}
.advice_card h4 {
  color: #252B42;
  font-family: "Martel", serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1000000015px;
  text-align: left;
  width: 145px;
  margin-top: 30px;
}
.advice_card p {
  color: #737373;
  width: 150px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.200000003px;
  text-align: left;
}

.aboutCompany {
  margin-top: 100px;
}

.aboutCompany_title {
  height: 105px;
  margin-bottom: 100px;
}

.aboutCompany_container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 100px auto;
  width: 1053px;
  height: 442px;
  position: relative;
}

.aboutCompany_container__play {
  position: absolute;
  z-index: 999;
  left: 229px;
  top: 171px;
}

.companies {
  height: 339px;
  background-color: #FAFAFA;
}

.companies_wrapper {
  width: 1440px;
  height: 339px;
  margin: 0 auto;
  position: relative;
}

.companies_group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1050px;
  height: 175px;
  margin: 0 auto;
}

.companies_input_wrapper {
  height: 124px;
  width: 986px;
  margin: 20px auto;
  background: linear-gradient(270deg, #295C7A -1.04%, #0072B5 100%);
  position: absolute;
  z-index: 2;
  bottom: -57px;
  left: 227px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.companies_input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  width: 883px;
}
.companies_input p {
  color: #FFFFFF;
  font-family: "Martel", serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.1000000015px;
  text-align: left;
  width: 253px;
}

.companies_inputAndButton {
  height: 58px;
  width: 450px;
}
.companies_inputAndButton input {
  height: 58px;
  width: 333px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.200000003px;
  text-align: left;
  color: #737373;
}
.companies_inputAndButton button {
  height: 58px;
  width: 117px;
  background-color: #D0A144;
  padding: 15px 22.5px;
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.200000003px;
  text-align: center;
  margin-left: -4px;
}

.companies_stripe {
  background-color: #252B42;
  height: 77px;
}

/*# sourceMappingURL=style.css.map */
