@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Martel:wght@700;900&family=Montserrat:wght@400;500&family=Open+Sans:wght@400;600;700&family=Playfair+Display&display=swap");
.startPage {
  height: 785px;
  background-image: url("../img/background.png");
}

header {
  width: 1322px;
  height: 104px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

h1 {
  font-family: "Martel", serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.1000000015px;
  text-align: left;
  color: #252B42;
}

.startPage_navigation {
  display: flex;
  justify-content: space-between;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.200000003px;
  text-align: center;
  color: #737373;
}

.startPage_information_wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 1050px;
}

.startPage_information {
  display: flex;
  flex-direction: column;
  width: 509px;
  height: 373px;
}
.startPage_information button {
  padding: 10px 36px;
  border: 1px solid #784F33;
  border-radius: 37px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.200000003px;
  text-align: center;
}

.startPage_information__title {
  font-family: "Martel", serif;
  font-size: 58px;
  font-weight: 900;
  line-height: 65px;
  letter-spacing: 0.200000003px;
  text-align: left;
  color: #252B42;
  width: 509px;
}

.startPage_information__text {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0.200000003px;
  text-align: left;
  color: #737373;
}

.startPage_information_button1 {
  background-color: #784F33;
  color: #FFFFFF;
}

.startPage_information_button2 {
  background-color: transparent;
  color: #784F33;
}

.startPageImg {
  display: block;
  height: 681px;
}

.cards {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title_wrapper {
  display: flex;
  flex-direction: column;
  width: 864px;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}

.title {
  font-family: "Martel", serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.200000003px;
  text-align: left;
  color: #252B42;
}

.subtitle {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.200000003px;
  text-align: center;
  color: #737373;
  width: 464px;
}

.cards_title {
  margin-top: 100px;
  height: 100px;
}

.cards_group {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  padding-bottom: 100px;
  width: 1046px;
}

.card {
  height: 147px;
  width: 329px;
  font-family: "Martel", serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1000000015px;
  text-align: center;
  background-color: #FFFFFF;
  color: #252B42;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2509803922);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;
}

.card_active {
  background-color: #295C7A;
  color: #FFFFFF;
  box-shadow: none;
}

.advice {
  padding: 82px 0 108px 0;
  background-color: #FAFAFA;
}

.advice_title {
  height: 190px;
  padding: 45px 0;
}

.advice_card_wrapper {
  display: flex;
  justify-content: space-between;
  width: 1050px;
  margin: 0 auto;
}

.advice_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #FFFFFF;
  height: 321px;
  width: 232px;
}
.advice_card h4 {
  margin-left: 30px;
  color: #252B42;
  font-family: "Martel", serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1000000015px;
  text-align: left;
  width: 172px;
  margin-top: 30px;
}
.advice_card p {
  color: #737373;
  width: 161px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.200000003px;
  text-align: left;
  margin-left: 30px;
  margin-top: -17px;
}
.advice_card img {
  width: 230px;
  margin: 0 auto;
}

.aboutCompany {
  margin-top: 100px;
  padding-bottom: 43px;
}

.aboutCompany_title {
  height: 105px;
  margin-bottom: 100px;
}

.aboutCompany_container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 100px auto;
  width: 1040px;
  height: 442px;
  position: relative;
}

.aboutCompany_container__play {
  position: absolute;
  z-index: 999;
  left: 251px;
  top: 171px;
}

.aboutCompany_information {
  width: 333px;
  height: 424px;
  display: flex;
  flex-direction: column;
}

.aboutCompany_information_title {
  width: 333px;
  padding-bottom: 20px;
  margin-top: 29px;
}
.aboutCompany_information_title .subtitle {
  width: 306px;
  text-align: left;
  margin-top: 10px;
}

.aboutCompany_information_facts li {
  display: flex;
  margin-top: 30px;
  margin-left: 12px;
}
.aboutCompany_information_facts li img {
  width: 32px;
  height: 32px;
  margin-right: 20px;
}

.aboutCompany_information_facts__text1 {
  font-family: "Martel", serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.1000000015px;
  text-align: left;
  color: #252B42;
}

.aboutCompany_information_facts__text2 {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.200000003px;
  text-align: left;
  color: #737373;
  margin-top: 5px;
}

.companies {
  height: 339px;
  background-color: #FAFAFA;
}

.companies_wrapper {
  width: 1440px;
  height: 339px;
  margin: 0 auto;
  position: relative;
}

.companies_group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 980px;
  height: 175px;
  margin: 0 auto;
}

.companies_input_wrapper {
  height: 124px;
  width: 986px;
  margin: 20px auto;
  background: linear-gradient(270deg, #295C7A -1.04%, #0072B5 100%);
  position: absolute;
  z-index: 2;
  left: 227px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.companies_input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  width: 883px;
}
.companies_input p {
  color: #FFFFFF;
  font-family: "Martel", serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.1000000015px;
  text-align: left;
  width: 253px;
}

.companies_inputAndButton {
  height: 58px;
  width: 450px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.companies_inputAndButton input {
  height: 58px;
  width: 333px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.200000003px;
  text-align: left;
  color: #737373;
  padding-left: 20px;
  border-radius: 5px 0 0 5px;
  border: 1px solid #FFFFFF;
}
.companies_inputAndButton button {
  height: 58px;
  width: 117px;
  background-color: #D0A144;
  padding: 15px 22.5px;
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.200000003px;
  text-align: center;
  margin-left: -4px;
  border-radius: 0 5px 5px 0;
  border: 1px solid #FFFFFF;
}

.companies_stripe {
  background-color: #252B42;
  height: 77px;
  margin-top: -77px;
}

.communication {
  background-color: #FAFAFA;
  height: 808px;
}

.communication_title {
  padding-top: 80px;
  height: 100px;
  padding-left: 5px;
}
.communication_title .subtitle {
  margin-top: 10px;
}

.communication_cards {
  height: 393px;
  width: 985px;
  margin: 160px auto 0 auto;
  display: flex;
  align-items: center;
}

.communication_card {
  width: 329px;
  height: 333px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.200000003px;
  text-align: center;
  color: #252B42;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 40px;
  align-items: center;
}
.communication_card img {
  width: 72px;
}
.communication_card .communication_card_email1 {
  margin-top: 5px;
}
.communication_card .communication_card_email2 {
  margin-top: -13px;
}
.communication_card button {
  background-color: transparent;
  border: 1px solid #D0A144;
  color: #D0A144;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.200000003px;
  text-align: center;
  width: 154px;
  height: 44px;
  border-radius: 5px;
  padding: 10px 19px;
}

.communication_card_support {
  font-family: "Martel", serif;
  font-size: 16px;
  letter-spacing: 0.1000000015px;
}

.communication_card_active {
  background-color: #252B42;
  color: #FFFFFF;
  height: 393px;
  padding: 80px 40px;
}

.footer {
  background-color: #FFFFFF;
}

.footer_request {
  height: 142px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 943px;
  margin: 0 auto;
}
.footer_request button {
  background-color: #784F33;
  color: #FFFFFF;
  padding: 15px 40px;
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.200000003px;
  text-align: center;
  margin-right: 39px;
}

.footer_request_block {
  height: 62px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer_request_title {
  font-family: "Martel", serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.1000000015px;
  text-align: left;
  color: #252B42;
}

.footer_request_text {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.200000003px;
  text-align: left;
  color: #737373;
}

.footer_contacts_wrapper {
  background: linear-gradient(270deg, #295C7A -1.04%, #0072B5 100%);
  height: 272px;
}

.footer_contacts {
  display: flex;
  justify-content: space-between;
  width: 1040px;
  margin: 0 auto;
}
.footer_contacts ul {
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.200000003px;
  text-align: left;
}

.footer_contacts_title {
  font-family: "Martel", serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.1000000015px;
}

.footer_contacts_contact {
  font-weight: 700;
}

.footer_social {
  height: 74px;
}

/*# sourceMappingURL=style.css.map */
